<body>
<h1>Sender</h1>
<div class="divider">
<form>
    <br>
	<label>CustomerId</label>
		<input type="text" id="n" class="n1" required><br><br>
	<label>Account Holder Name</label>
		<input type="text" id="a" class="n2" required><br><br>
	<label >Clear Balance</label>
		<input type="text" id="s" class="n3"><br><br>
    <label>Currency</label>
        <select name="cur" class="n4">
            <option>USD</option>
            <option>EUR</option>
            <option>GBP</option>
            <option>JPY</option>
        </select>
    <br>
    <br>
    <label >Transaction-Date</label>
	<input type="text" id="s" class="n5" required><br><br>
	<button class="next_button"><a routerLink="../receiver">Next</a></button>		
    <br>	
</form>
</div>
</body>
