<h1>Transaction</h1>


<div class="divider">
<form>
    <br>
	<label>Transfer Type</label>
    <select name="t-type" class="n1">
        <option>Bank Transfer</option>
        <option>Customer Transfer</option>
    </select>
    <br>
    <br>
	<label>Message Code</label>
    <select name="m-code" class="n2">
        <option>CHOB</option>
        <option>CORT</option>
        <option>HOLD</option>
        <option>INTC</option>
        <option>PHOB</option>
        <option>PHOI</option>
        <option>PHON</option>
        <option>REPA</option>
        <option>SDVA</option>
    </select>
    <br>
    <br>
    <label >Amount</label>
		<input type="number" id="s" class="n3" required><br><br>
    <label >Transfer Fee</label>
	<input type="text" id="s" class="n4"><br><br>
    <label>Clear Balance</label>
		<input type="text" id="a" class="n5"><br><br>
	<button class="next_button" (click)="alertSuccess()">Confirm Transaction</button>	
   	
    <br>	
   <!-- <button><a href="sample.html"></a></button> -->
</form>
</div>
