<body>
    

<h1>Receiver</h1>


<div class="divider">
<form method="POST" action="submit">
    <br>
	<label>BIC</label>
		<input type="text" id="n" class="n1" required><br><br>
	<label>Institution Name</label>
		<input type="text" id="a" class="n2"><br><br>
	<label >Account Holder Number</label>
		<input type="number" id="s" class="n3" required><br><br>
    <label >Account Holder Name</label>
	<input type="text" id="s" class="n4"><br><br>
	<button class="next_button" ><a routerLink="../transaction">Next</a></button>	
    <br>	
   <!-- <button><a href="sample.html"></a></button> -->
</form>
</div>
</body>
